<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors/>
  <version>2.289.2</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>0</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label>master</label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../../../../views/listView/jobNames/comparator"/>
          </default>
          <int>64</int>
          <string>DSO_GIT_BASE_URL</string>
          <string>ssh://alm-itsk.gazprom-neft.local:8180/TFS/GPN/DSO_SERVICE/_git</string>
          <string>OCP3_CDMZ_URL</string>
          <string>https://console.stage.ocpz.gazprom-neft.local:8443</string>
          <string>OCP3_DEV_URL</string>
          <string>https://console.okd.techpark.local</string>
          <string>OCP3_PREPROD_URL</string>
          <string>https://console.stage.gazprom-neft.local:8443</string>
          <string>OCP3_PROD_URL</string>
          <string>https://console.prod.gazprom-neft.local:8443/</string>
          <string>OCP3_UAT_URL</string>
          <string>https://console-uat.test.gazprom-neft.local:8443/</string>
          <string>OCP4_DEV_URL</string>
          <string>https://api.okd4.techpark.local:6443</string>
          <string>OCP4_UAT_URL</string>
          <string>https://api.test.paas.gazprom-neft.local:6443</string>
          <string>REPO_DEV_COMPOSER</string>
          <string>http://nexus.dso.techpark.local/repository/composer-dev-dso</string>
          <string>REPO_DEV_DOCKER_MIRROR</string>
          <string>mirror-registry.dso.techpark.local</string>
          <string>REPO_DEV_DOCKER_MS_EXTERNAL</string>
          <string>ms-registry.dso.techpark.local</string>
          <string>REPO_DEV_DOCKER_QUAY_EXTERNAL</string>
          <string>quay-registry.dso.techpark.local</string>
          <string>REPO_DEV_DOCKER_REGISTRY</string>
          <string>registry.dso.techpark.local</string>
          <string>REPO_DEV_DOCKER_RH_EXTERNAL</string>
          <string>rh-registry.dso.techpark.local</string>
          <string>REPO_DEV_DOCKER_ZYFRA_EXTERNAL</string>
          <string>zyfra-registry.dso.techpark.local</string>
          <string>REPO_DEV_GRADLE_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-gradle-external-dso</string>
          <string>REPO_DEV_JAVA_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-java-external-dso/</string>
          <string>REPO_DEV_JCENTER_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-jcenter-external-dso/</string>
          <string>REPO_DEV_MAVEN</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-dev-dso</string>
          <string>REPO_DEV_MAVEN_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-maven-external-dso</string>
          <string>REPO_DEV_MAVEN_WHITELIST</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-whitelist-dso</string>
          <string>REPO_DEV_NODEJS_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/npm-nodejs-external-dso</string>
          <string>REPO_DEV_NODEJS_WHITELIST</string>
          <string>http://nexus.dso.techpark.local/repository/npm-whitelist-dso</string>
          <string>REPO_DEV_NPM</string>
          <string>http://nexus.dso.techpark.local/repository/npm-dev-dso</string>
          <string>REPO_DEV_NUGETV2_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/nuget-nuget-v2-external-dso/</string>
          <string>REPO_DEV_NUGETV3_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/nuget-nuget-v3-external-dso/index.json</string>
          <string>REPO_DEV_PYPI</string>
          <string>http://nexus.dso.techpark.local/repository/pypi-dev-dso</string>
          <string>REPO_DEV_PYPI_ALL</string>
          <string>http://nexus.dso.techpark.local/repository/pypi-all</string>
          <string>REPO_DEV_PYPI_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/pypi-pypi-external-dso</string>
          <string>REPO_DEV_PYPI_WHITELIST</string>
          <string>http://nexus.dso.techpark.local/repository/pypi-whitelist-dso</string>
          <string>REPO_DEV_RAW</string>
          <string>http://nexus.dso.techpark.local/repository/raw-dev-dso</string>
          <string>REPO_DEV_RAW_U20004638_DEV</string>
          <string>https://nexus.dso.techpark.local/repository/U20004638-raw-dev-pai/</string>
          <string>REPO_DEV_SHIBBOLETH_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-shibboleth-external-dso/</string>
          <string>REPO_DEV_WSO2DIST_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-wso2-dist-external-dso/</string>
          <string>REPO_DEV_WSO2PUBLIC_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-wso2-public-external-dso/</string>
          <string>REPO_DEV_WSO2RELEASES_EXTERNAL</string>
          <string>http://nexus.dso.techpark.local/repository/maven2-wso2-releases-external-dso</string>
          <string>REPO_TRUST_DOCKER_MS_EXTERNAL</string>
          <string>ms-registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_DOCKER_PROD_REGISTRY</string>
          <string>prod-registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_DOCKER_QUAY_EXTERNAL</string>
          <string>quay-registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_DOCKER_REGISTRY</string>
          <string>registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_DOCKER_RH_EXTERNAL</string>
          <string>rh-registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_DOCKER_ZYFRA_EXTERNAL</string>
          <string>zyfra-registry.gazprom-neft.local:5000</string>
          <string>REPO_TRUST_GRADLE_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-gradle-external-dso</string>
          <string>REPO_TRUST_JAVA_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-java-external-dso/</string>
          <string>REPO_TRUST_MAVEN_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-maven-external-dso</string>
          <string>REPO_TRUST_MAVEN_UAT</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-uat-dso/</string>
          <string>REPO_TRUST_MAVEN_WHITELIST</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-whitelist-dso</string>
          <string>REPO_TRUST_NODEJS_ALL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/npm-all/</string>
          <string>REPO_TRUST_NODEJS_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/npm-nodejs-external-dso</string>
          <string>REPO_TRUST_NODEJS_UAT</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/npm-uat-dso/</string>
          <string>REPO_TRUST_NODEJS_WHITELIST</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/npm-whitelist-dso</string>
          <string>REPO_TRUST_NUGETV2_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/nuget-nuget-v2-external-dso/</string>
          <string>REPO_TRUST_NUGETV3_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/nuget-nuget-v3-external-dso/index.json</string>
          <string>REPO_TRUST_NUGETV3_UAT</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/nuget-uat-dso/index.json</string>
          <string>REPO_TRUST_PYPI_ALL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/pypi-all/</string>
          <string>REPO_TRUST_PYPI_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/pypi-pypi-external-dso</string>
          <string>REPO_TRUST_PYPI_UAT</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/pypi-uat-dso/</string>
          <string>REPO_TRUST_PYPI_WHITELIST</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/pypi-whitelist-dso</string>
          <string>REPO_TRUST_RAW_U20004638_PROD</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/U20004638-raw-prod-pai/</string>
          <string>REPO_TRUST_RAW_WHITELIST</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/raw-whitelist-dso</string>
          <string>REPO_TRUST_SHIBBOLETH_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-shibboleth-external-dso/</string>
          <string>REPO_TRUST_WSO2DIST_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-wso2-dist-external-dso/</string>
          <string>REPO_TRUST_WSO2PUBLIC_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-wso2-public-external-dso/</string>
          <string>REPO_TRUST_WSO2RELEASES_EXTERNAL</string>
          <string>http://nexus.gazprom-neft.local:8080/repository/maven2-wso2-releases-external-dso/</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </globalNodeProperties>
</hudson>